requests
requests[socks]
requests[security]
requests-file
# requests-html
anticaptchaofficial
beautifulsoup4
lxml
Flask
selenium==4.0.0
opencv-python
WeasyPrint
stem
pysocks
pdfquery
Werkzeug
tika
unidecode
pdfkit
pycurl
pandas
tabula-py
json2table
pytesseract==0.3.7
tesseract
pypdftk
ocrmypdf
ghostscript
autopep8
boto3
PyPDF2
selenium-wire===4.5.4
pdftotext
striprtf
weasyprint
typing
mysql.connector
pdf2image
js2py
packaging
undetected-chromedriver
sentry_sdk